__pycache__/
*.pyc
*.pyo
*.pyd


venv/
env/
.venv/


.vscode/

*.log
*.tmp


*.npy
*.npz
*.pt
*.pth
*.onnx
*.h5

/Classify/dataset/*
!/Classify/dataset/.gitkeep

/Classify/Datatxt/*
!/Classify/Datatxt/.gitkeep

data/

checkpoints/
runs/
output/
weights/


.ipynb_checkpoints/


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/


.env
